<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/feb8ff1e04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Profil.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="#Index"><img src="./Logos/LOGO_P2-05.png" alt="Logo"></a>
        </div>
        <nav class="navMenu">
            <ul>
                <li><a href="#">Nos offres</a></li>
                <li><a href="#">Notre concept</a></li>
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Inscription</a></li>
            </ul>
        </nav>
    </header>

    <main>

        @RenderSection("Content") <!-- Contenu spécifique à chaque page -->

    </main>

    <footer>
        <!-- Contenu spécifique au pied de page commun à toutes les pages -->
    </footer>
</body>
</html>
