<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Error.css">
    <title>Error</title>
</head>

<body>
    <header>
    </header>
    <main>
        <section id="errorSection">

            <div class="link">
                <h3><a href="@Url.Action("Index", "Home")">Accueil</a></h3>
            </div>

        </section>
    </main>
    <footer>
    </footer>
</body>

</html>
