@{
    Layout = "_ProfilsLayout";
    ViewData["Title"] = "Mon profil";
}

@section Content {

    <section id="primaryCard">
        <div class="card-container">
            <div class="myCard">
                <div class="profilImage">
                </div>

                <div class="container" id="container">
                    <div class="UserName">
                        <h1>Frédéric Dupin</h1>
                    </div>
                </div>
                <div class="cardInfos">
                    <h3>Genre : Homme</h3>
                    <h3>Email : toto@gmail.com</h3>
                    <h3>Tel : 0123456789</h3>
                    <h3>Pays : France</h3>
                </div>
                <div class="littleHole"></div>
                <button class="changeProfilImagedButton" type="submit">
                    <span>
                        <i class="fa-solid fa-upload fa-lg"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="banner">
            <button class="changeBackgroundButton" type="submit">
                <span>
                    <i class="fa-solid fa-upload fa-lg"></i>
                </span>
            </button>
        </div>
    </section>

    <section id="profilInfos" class="menu-container">
        <nav>
            <ul>
                <li><a href="#personalInfo">Informations personnelles</a></li>
                <li><a href="#pref">Préférences</a></li>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#refund">Remboursement</a></li>
            </ul>
        </nav>
    </section>

    <section id="personalInfo">
        <div class="radio-inputs">
            <label class="radio">
                <input type="radio" name="civilite" value="monsieur" id="civilite-monsieur">
                <span class="gender">Monsieur</span>
            </label>

            <label class="radio">
                <input type="radio" name="civilite" value="madame" id="civilite-madame">
                <span class="gender">Madame</span>
            </label>

            <label class="radio">
                <input type="radio" name="civilite" value="autre" id="civilite-autre">
                <span class="gender">Autre</span>
            </label>
        </div>
        <div class="userNameFirstname">
            <div class="input-Name">
                <input required="on" type="text" name="Name" autocomplete="on" class="input">
                <label class="user-Name">Nom</label>
            </div>
            <div class="input-Firstname">
                <input required="on" type="text" name="Firstname" autocomplete="on" class="input">
                <label class="user-Firstname">Prénom</label>
            </div>
            <div class="input-Email">
                <input required="on" type="email" name="Email" autocomplete="on" class="input">
                <label class="user-Email">Email</label>
            </div>
        </div>
        <div class="birthdateNationalite">
            <div class="input-Birthdate">
                <input type="date" name="email" class="input" required="off">
                <label class="user-Email" class="user-Nationalite"></label>
            </div>
            <div class="input-Tel">
                <input type="text" name="tel" autocomplete="on" class="input" required="off">
                <label class="user-Tel">Numéro de téléphone</label>
            </div>
        </div>
        <div class="otherInfos-global">
            <div class="otherInfos">
                <div class="input-Adress">
                    <input type="text" name="Adress" autocomplete="on" class="input" required="off">
                    <label class="user-Adress">Adresse</label>
                </div>
                <div class="input-City">
                    <input type="text" name="City" autocomplete="on" class="input" required="off">
                    <label class="user-City">Ville</label>
                </div>
                <div class="input-Zipcode">
                    <input type="text" name="zipcode" autocomplete="on" class="input" required="off">
                    <label class="user-Zipcode">Code postal</label>
                </div>
            </div>
        </div>
        <button type="submit" class="saveInfos">Enregistrer mes informations</button>
    </section>


}