
@model LittleBigTraveler.ViewModels.DestinationViewModel

﻿@{
    Layout = "_DestinationLayout";
    ViewData["Title"] = "Créer une nouvelle destination";
}


@section content {


<section class="add">
    <div class="containerAdd">
        <div class="titre">
            <h1 class="titreSection">Créer une nouvelle destination</h1>
        </div>
        <form method="post" action="/Destination/AddDestinations" class="btnFlexBox">
            <div class="flexBox allGroup">
                <div class="group1">
                    <div class="form-group">
                        <!--   <label for="Country" class="countryLabel">Pays :</label> -->
                        <input type="text" id="Country" name="Country" class="form-control" value="@Model.Country"
                               required placeholder="Pays" />
                    </div>

                    <div class="form-group">
                        <!--  <label for="City" class="cityLabel">Ville :</label> -->
                        <input type="text" id="City" name="City" class="form-control" value="@Model.City" required
                               placeholder="Ville" />
                    </div>

                    <div class="form-group">
                        <!--  <label for="Images" class="imagesLabel">Images :</label> -->
                        <input type="file" id="Images" name="Images" class="form-control-file" multiple
                               placeholder="Images" />
                    </div>

                    <div class="form-group">
                        <!--  <label for="Link" class="linksLabel">Lien externe :</label> -->
                        <input type="text" id="Link" name="Link" class="form-control" value="@Model.ExternalLinks"
                               required placeholder="Liens" />
                    </div>
                </div>

                <div class="group2">

                    <div class="form-group">
                        <!--   <label for="Description" class="descriptionLabel">Description :</label> -->
                        <textarea id="Description" name="Description" class="form-control" required
                                  placeholder="Écrivez une petite description...">@Model.Description</textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn">Créer</button>
        </form>
    </div>
</section>

}
