
@model LittleBigTraveler.ViewModels.DestinationViewModel

@{
    Layout = "_DestinationLayout";
    ViewData["Title"] = "Résultats de recherche";
}

@section content {

    @if (Model.Destinations.Count == 0)
        {
        <p>Aucun résultat trouvé.</p>
        }
        else
        {

        <section id="sectionDestinationCards">
            <div class="glassBorderBackground">
                <h1 class="titrePackage">NOS DESTINATIONS</h1>
                <div class="positionDSF">
                    <form method="get" action="/Destination/FindDestinations">
                        <div class="destinationSearchField">
                            <input type="search" name="query" class="input" autocomplete="on" placeholder="Recherche de destinations par Pays ou Ville">
                            <!--  <label class="searchLabel">Rechercher une destination</label> -->
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="card-btn">Rechercher</button>
                        </div>
                        <button class="glassIcon">
                            <span>
                                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                            </span>
                        </button>
                    </form>
                </div>
                <div id="positionIntoSection">
                    <div class="card-container">
                        @foreach (var destination in Model.Destinations)
                            {
                            <div class="glassBorderCard">
                                <div class="card">
                                    @foreach (var image in destination.Images)
                                        {
                                        <img src="@image" alt="Image" class="card-img" />
                                        }
                                    <div class="card-body">
                                        <h1 class="card-title">@destination.Country</h1>
                                        <h3 class="card-sub-title">@destination.City</h3>
                                        <p class="card-sub-title">@destination.Description</p>
                                        <button class="card-btn">Réserver !</button>
                                    </div>
                                </div>
                            </div>
                         <!--   <a href="/Destination/ChangeDestination/@destination.Id" class="btn btn-secondary mr-2">Modifier</a>
                            <a href="/Destination/DeleteDestinations/@destination.Id" class="btn btn-danger">Supprimer</a>
                            <a href="/Travel/CreateTravel?destinationId=@destination.Id" class="btn btn-primary">Voyager</a> -->
                            }
                    </div>
                </div>
            </div>
        </section>

            }
        }


