@model LittleBigTraveler.ViewModels.ServiceViewModel

@{
    ViewData["Title"] = "Ajouter un service";
    Layout = "_CreateTravelPackageLayout";
}

@*<div class="container">
    <h1 class="text-center">Ajouter un service</h1>

    <form method="post" action="/Service/AddServices">
        <div class="form-group">
            <label for="Name">Nom :</label>
            <input type="text" id="Name" name="Name" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Price">Prix :</label>
            <input type="number" id="Price" name="Price" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Schedule">Horaire :</label>
            <input type="datetime-local" id="Schedule" name="Schedule" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Location">Emplacement :</label>
            <input type="text" id="Location" name="Location" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Type">Type :</label>
            <input type="text" id="Type" name="Type" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Style">Style :</label>
            <input type="text" id="Style" name="Style" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="Images">Images :</label>
            <input type="file" id="Images" name="Images" class="form-control-file" multiple />
        </div>

        <div class="form-group">
            <label for="ExternalLinks">Lien externe :</label>
            <input type="text" id="ExternalLinks" name="ExternalLinks" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>*@

@section content {
    <section id="sectionModifyTravel">
        <div class="borderGlassModifyTravelBackground">

            <h3 class="titreModify">Ajouter un service</h3>
            <div class="Container">


                <form method="post" action="/Service/AddServices">

                    <div class="form-group">
                        <label class="label">Nom : </label>
                        <input type="text" class="input" name="Name" required />
                    </div>

                    <div class="form-group">
                        <label class="label">Prix : </label>
                        <input type="text" class="input" name="Price" value="" required />
                    </div>

                    <div class="form-group">
                        <label class="label">Horaire : </label>
                        <input type="datetime-local" class="input" name="Schedule" required />
                    </div>

                    <div class="form-group">
                        <label class="label">Emplacement : </label>
                        <input required type="text" name="Location" autocomplete="on" class="input">
                    </div>
                    <div class="form-group">
                        <label class="label">Type : </label>
                        <input required type="text" name="Type" autocomplete="on" class="input">
                    </div>
                    <div class="form-group">
                        <label class="label">Style : </label>
                        <input required type="text" name="Style" autocomplete="on" class="input">
                    </div>

                    <div class="form-group">
                        <label class="label">Images : </label>
                        <input type="file" class="input" name="Images" multiple />
                    </div>

                    <div class="form-group">
                        <label class="label">Lien externe : </label>
                        <input type="text" class="input" name="Link" />
                    </div>

                    <button type="submit" class="modifyBtn">Ajouter</button>
                </form>
            </div>


        </div>
        @*<div class="Container1">
            <button type="submit" class="modifyBtn">Ajouter</button>
        </div>*@

    </section>
}
