@{
    Layout = "_PrimaryLayout";
    ViewData["Title"] = "Accueil";
}

@section Content {
    <div class="jumbotron mt-4">
        <h1 class="display-4 text-center">Destinations!</h1>
        <p class="lead text-center">Test de formulaire pour ajout/modification de destinations.</p>
    </div>

    <div class="text-center mb-4" style="margin-top: 20px;">
        <a href="/Destination/Liste" class="btn btn-primary btn-lg mr-2">Voir les destinations</a>
        <a href="@Url.Action("SigninPage", "SigninSignup")" class="btn btn-success btn-lg">Ajouter une destination</a>
        <a href="@Url.Action("SignupPage", "SigninSignup")" class="btn btn-success btn-lg">Ajouter une destination</a>
    </div>
}