@model List<LittleBigTraveler.Models.TravelClasses.Booking>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste des réservations";
}

@section content {
    <h1 class="text-center">Liste des réservations</h1>

    @if (Model.Count == 0)
    {
        <p>Aucune réservation trouvée.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Réservation n°</th>
                    <th>Package</th>
                    <th>Confirmation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                    <tr>
                        <td>@booking.Id</td>
                        <td>@booking.Package.Name</td>
                        <td>
                            @if (booking.IsConfirmed)
                            {
                                <span class="text-success">Payée</span>
                            }
                            else
                            {
                                <span class="text-danger">Non payée</span>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Confirmation", "Booking", new { bookingId = booking.Id })" class="btn btn-primary">Voir détails</a>
                            <a href="@Url.Action("Delete", "Booking", new { bookingId = booking.Id })" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div class="text-center mt-4">
        <a href="/Home/IndexTEST" class="btn btn-primary">Retour à l'accueil</a>
    </div>
}
