* {
    margin: 0;
    padding: 0;
}

/* Partie Header */

@media (max-width: 1050px) {
    nav ul li {
        font-size: 0.9rem;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .logo img {
        height: 5vh;
        margin-right: 5vw;
        margin-left: 1vw;
    }
}

@media (max-width: 1000px) {
    nav ul li {
        font-size: 0.8rem;
        margin-right: 0vw;
        margin-left: 0vw;
    }

    .logo img {
        height: 3vh;
        margin-right: 5vw;
        margin-left: 0vw;
    }
}

header {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.074);
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    overflow: hidden;
}

.logo img {
    height: 70px;
    margin-right: 10vw;
    margin-left: 1vw;
}

.navMenu ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 2vw;
    margin-left: 2vw;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
    nav ul li:hover {
        transform: scale(1.15);
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    /* Partie sections */

#sectionDestinationCards {
    width: 100%;
    height: auto;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1073px) {
    #sectionThreeCards {
        height: 600px;
    }
}

.glassBorderBackground {
    position: relative;
    background-color: white;
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    height: 100%;
    width: 98vw;
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.titrePackage {
    font-size: 3rem;
    margin: 20px 0 0;
    color: white; /*modif*/
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}
.searchingBtn {
    display: flex;
    justify-content: center;
}

.card-btn-search {
    color: orange;
    background: none;
    width: auto;
    padding: 10px 30px;
    border: 4px solid orange;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .card-btn-search:hover {
        border: 4px solid orange;
        background: orange;
        color: white;
        transform: scale(1.1);
    }

.card-btn-search:active {
    border: 4px solid rgb(247, 184, 67);
    color: white;
    background: orange;
}

/* Partie recherche */

.positionDSF {
    margin-bottom: 50px;
    margin-top: 30px;
    height: auto;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destinationSearchField {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

#positionInfoSection {
    display: grid;
    
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;/* ou 'space-around' pour ajouter un espace égal entre les éléments */
    margin-top: 20px;
}

.input {
    border: solid 1.5px #9e9e9e;
    text-align: center;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 20px 0;
    padding: 12px 0px;
    width: 60vw;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

.searchLabel {
    position: absolute;
    left: 25px;
    bottom: 24px;
    color: grey;
    pointer-events: none;
    transform: translateY(1);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus, #searchField:valid {
    outline: none;
    border: 1.5px solid orange;
}

 /*   .input:focus ~ .searchLabel,
    input:valid ~ .searchLabel {
        transform: translateY(-48%) scale(0.8);
        padding: 0 .2em;
        color: black;
        background-color: white;
    } */
/* Partie Loupe de la recherche */
.glassIcon {
    position: absolute;
    top: 143%;
    right: -1%;
    height: 44px;
    cursor: pointer;
    border-style: none;
    border-radius: 0 50px 50px 0;
    background-color: orange;
    padding: 0 30px 0 20px;
    transition: .1s linear;
    font-size: 15px;
}

    .glassIcon:hover {
        cursor: pointer;
        border-style: none;
        background-color: rgb(251, 190, 78);
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

.glassBorderCard {
    width: 370px;
    height: 460px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (max-width: 1190px) {
    .glassBorderCard {
        width: 300px;
        height: 450px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

@media (max-width: 1073px) {
    .glassBorderCard {
        width: 230px;
        height: 350px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

.glassBorderCard:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card {
    width: 360px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    border: 0 solid #fff;
    position: relative;
    margin: 5px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (max-width: 1190px) {
    .card {
        width: 290px;
        height: 440px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 70px;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

@media (max-width: 1073px) {
    .card {
        width: 220px;
        height: 340px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 70px;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.card-body {
    width: 80%;
    bottom: 0;
    color: #fff;
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}


.card-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
}

.card-sub-title {
    text-transform: none;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0 30px 5px;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    margin-left: 5px;
}

.card-btn {
    color: white;
    background: none;
    width: 70%;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .card-btn:hover {
        border: 4px solid orange;
        color: orange;
        transform: scale(1.1);
    }

    .card-btn:active {
        border: 4px solid rgb(247, 184, 67);
        color: orange;
    }

@media (max-width: 1190px) {
    .card-title {
        font-size: 40px;
    }

    .card-sub-title {
        font-size: 15px;
        margin-top: 8px;
    }

    .card-info {
        font-size: 14px;
        line-height: 25px;
    }

    .card-btn {
        width: 120px;
        padding: 10px 20px;
        font-size: 10px;
    }
}

@media (max-width: 1073px) {
    .card-title {
        font-size: 27px;
    }

    .card-sub-title {
        font-size: 14px;
        margin-top: 6px;
    }

    .card-info {
        font-size: 13px;
        line-height: 15px;
    }

    .card-btn {
        width: 120px;
        padding: 6px 15px;
        font-size: 12px;
    }
}


/* Partie Footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 180px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.074);
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.logoFooter {
    text-align: center;
}

    .logoFooter i {
        margin-right: 5%;
        font-size: 25px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

        .logoFooter i:hover {
            margin-right: 5%;
            transform: scale(1.2);
        }

#navFooter {
    display: flex;
    justify-content: flex-start;
}

.navFooter {
    display: flex;
    flex-direction: column;
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    font-size: 1em;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .navFooter ul {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
        justify-content: flex-start; /* Modifier la justification */
        align-items: flex-start; /* Alignement des éléments à gauche */
        list-style-type: none;
    }

    .navFooter li {
        line-height: 25px;
    }

.navTitre {
    font-size: larger;
    font-weight: 800;
    margin-bottom: 10px;
}

.logoFooter img {
    height: 8vh;
}
a {
    text-decoration: none;
    color: black;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    a:hover {
        text-decoration: none;
        color: orange;
        transform: scale(1.15);
    }

@media (max-width: 1257px) {
    .navFooter {
        font-size: 14px;
    }

    .logoFooter img {
        height: 6vh;
    }
}

@media (max-width: 1017px) {
    .navFooter {
        font-size: 12px;
    }
}

/*---------------------------Partie sur nos meilleures offres----------------------------*/

#sectionBestCards {
    width: 100%;
    height: 800px;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1073px) {
    #sectionThreeCards {
        height: 600px;
    }
}

.titlesZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 70px;
}

.titreOffers {
    font-size: 3rem;
    color: white; /*modif*/
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}

.sousTitreOffers {
    font-size: 2rem;
    color: white; /*modif*/
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}

.glassBorderCardOffers {
    width: 280px;
    height: 360px;
    background: rgba(255, 255, 255, 0.074);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 50px 0 20px 0;
}

@media (max-width: 1190px) {
    .glassBorderCardOffers {
        width: 250px;
        height: 330px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

@media (max-width: 1073px) {
    .glassBorderCardOffers {
        width: 200px;
        height: 300px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

.glassBorderCardOffers:hover {
    transform: scale(1.2);
    z-index: 1;
}

.cardOffers {
    width: 270px;
    height: 370px;
    border-radius: 20px;
    overflow: hidden;
    border: 0 solid #fff;
    position: relative;
    margin: 5px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (max-width: 1190px) {
    .cardOffers {
        width: 240px;
        height: 320px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 70px;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

@media (max-width: 1073px) {
    .cardOffers {
        width: 190px;
        height: 290px;
        background: rgba(255, 255, 255, 0.074);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 70px;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.glassBorderCardOffers:hover .card-img {
    transform: scale(1.2);
}

.cardOffers-body {
    width: 80%;
    bottom: 0;
    color: #fff;
    position: absolute;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}


.cardOffers-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
}

.cardOffers-sub-title {
    text-transform: none;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0 30px 5px;
}

.cardOffers-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    margin-left: 5px;
}

.cardOffers-btn {
    color: white;
    background: none;
    width: 90%;
    padding: 10px 20px;
    border: 4px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .cardOffers-btn:hover {
        border: 4px solid orange;
        color: orange;
        transform: scale(1.1);
    }

    .cardOffers-btn:active {
        border: 4px solid rgb(247, 184, 67);
        color: orange;
    }

@media (max-width: 1190px) {
    .cardOffers-title {
        font-size: 30px;
    }

    .cardOffers-sub-title {
        font-size: 15px;
        margin-top: 8px;
    }

    .cardOffers-info {
        font-size: 14px;
        line-height: 25px;
    }

    .cardOffers-btn {
        width: 90%;
        padding: 10px 20px;
        font-size: 12px;
    }
}

@media (max-width: 1073px) {
    .cardOffers-title {
        font-size: 27px;
    }

    .cardOffers-sub-title {
        font-size: 14px;
        margin-top: 6px;
    }

    .cardOffers-info {
        font-size: 13px;
        line-height: 15px;
    }

    .cardOffers-btn {
        width: 90%;
        padding: 6px 15px;
        font-size: 12px;
    }
}


/*-----------------------------Partie création de destination------------------------------*/


.add {
    width: 100%;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1073px) {
    #modif {
        height: 40vh;
    }
}

.containerAdd {
    background-color: white;
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 40px 0;
}

/* Partie input  */

.flexBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 1200px) {
    .flexBox {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.group1 .form-group {
    margin-left: -20%;
}

@media (max-width: 1200px) {
    .group1 .form-group {
        margin-left: 0;
    }
}

.group1, .group2 {
    margin-left: 2%;
    margin-right: 2%;
}

    .group2 .form-control {
        height: 210px;
        width: 300px;
        margin-left: 5px;
        margin-right: 5px;
    }

.countryLabel, .cityLabel, .descriptionLabel, .imagesLabel, .linksLabel {
    position: absolute;
    left: 25px;
    bottom: 48px;
    color: grey;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-control:focus,
input:valid {
    outline: none;
    border: 1.5px solid orange;
} */

.form-control:focus ~ label,
input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 0 .2em;
    color: black;
    background-color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control, .form-control-file {
    border: solid 1.5px #9e9e9e;
    text-align: center;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 20px 0;
    padding: 12px 80px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

.btnFlexBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    border: 4px solid orange;
    border-radius: 50px;
    padding: 10px 30px;
    width: fit-content;
    font-size: 15px;
    font-weight: 700;
    background: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: orange;
    cursor: pointer;
}

    .btn:hover {
        background: orange;
        color: white;
        transform: scale(1.2);
    }

.titreSection {
    font-size: 3rem;
    margin-bottom: 50px;
    color: white;
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}

/*-----------------------------Partie modification de destination------------------------------*/


.modif {
    width: 100%;
    font-family: "roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1073px) {
    #modif {
        height: 40vh;
    }
}

.containerModif {
    background-color: white;
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 40px 0;
}

/* Partie input  */

.flexBox {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

@media (max-width: 1200px) {
    .flexBox {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.group1 .form-group {
    margin-left: -20%;
}

@media (max-width: 1200px) {
    .group1 .form-group {
        margin-left: 0;
    }
}

.group1, .group2 {
    margin-left: 2%;
    margin-right: 2%;
}

    .group2 .form-control {
        height: 210px;
        width: 300px;
        margin-left: 5px;
        margin-right: 5px;
    }

.countryLabel, .cityLabel, .descriptionLabel, .imagesLabel, .linksLabel {
    position: absolute;
    left: 25px;
    bottom: 48px;
    color: grey;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-control:focus,
input:valid {
    outline: none;
    border: 1.5px solid orange;
} */

.form-control:focus ~ label,
input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 0 .2em;
    color: black;
    background-color: white;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-control, .form-control-file {
    border: solid 1.5px #9e9e9e;
    text-align: center;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 20px 0;
    padding: 12px 80px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
}

.btnFlexBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    border: 4px solid orange;
    border-radius: 50px;
    padding: 10px 30px;
    width: fit-content;
    font-size: 15px;
    font-weight: 700;
    background: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: orange;
    cursor: pointer;
}

    .btn:hover {
        background: orange;
        color: white;
        transform: scale(1.2);
    }

.titreSection {
    font-size: 3rem;
    margin-bottom: 50px;
    color: white;
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}

/*---------------------------------Partie liste de services-------------------------------------------*/

#sectionService {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.titreService {
    font-size: 3rem;
    color: white; /*modif*/
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}

.info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.074);
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    overflow: hidden;
    height: auto;
    width: auto;
    margin: 20px 0;
}

.info-item {
    margin: 10px 1%;
    display: flex;
    flex-direction: column;
}

    .info-item h3 {
        margin-bottom: 10px;
    }

.info-item-admin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px 10px 3%;
}

    .info-item-admin a {
        margin: 10px 1%;
        border: 2px solid orange;
        border-radius: 50px;
        text-decoration: none;
        color: orange;
        padding: 5px;
    }

    .info-item-admin .modif {
        border: 3px solid orange;
        color: orange;
    }

    .info-item-admin .delete {
        border: 3px solid black;
        color: black;
    }

   /*---------------------Partie Create Package avec les services-----------------------------*/

#sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-group-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .form-group-description textarea {
        height: 200px;
        width: 50%;
    }

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .form-group input {
        width: 50%;
    }

.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 20px 0;
    padding: 12px;
    width: 95%;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.label {
    color: grey;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid grey;
}

    .input:focus ~ label,
    input:valid ~ label {
        transform: translateY(-50%) scale(0.8);
        padding: 0 .2em;
        color: black;
        background-color: white;
    }

.sectionService {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.titreService {
    font-size: 3rem;
    color: white; /*modif*/
    text-shadow: 3px 0px 7px #048b9a; /*modif*/
}

.info-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.074);
    border-radius: 45px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    overflow: hidden;
    height: auto;
    width: auto;
    margin: 20px 0;
}

.info-item {
    margin: 10px 1%;
    display: flex;
    flex-direction: column;
}

    .info-item h3 {
        margin-bottom: 10px;
    }

.info-item-admin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px 10px 3%;
}

    .info-item-admin a {
        margin: 10px 1%;
        border: 2px solid orange;
        border-radius: 50px;
        text-decoration: none;
        color: orange;
        padding: 5px;
    }

    .info-item-admin .modif {
        border: 3px solid orange;
        color: orange;
    }

    .info-item-admin .delete {
        border: 3px solid black;
        color: black;
    }

/*----------------Partie checkbox------------------*/

/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.34em;
    width: 1.3em;
    background-color: lightgrey;
    transition: .4s ease-in-out;
    border-radius: 50%;
}

    .checkmark:hover {
        background-color: rgba(144, 238, 144, 0.654);
    }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: lightgreen;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.25em;
    top: 0.29em;
    width: 0.50em;
    height: 0.50em;
    border: solid lightgreen;
    background-color: lightgreen;
    border-radius: 50%;
}

.submitBtn {
    background: none;
    border-radius: 50px;
    color: orange;
    border: 4px solid orange;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

    .submitBtn:hover {
        background: orange;
        border-radius: 50px;
        color: white;
        border: 4px solid orange;
        padding: 12px 40px;
        font-size: 17px;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }