@model LittleBigTraveler.ViewModels.UserViewModel

@{
    ViewBag.Title = "Page de connexion";
    Layout = "_SigninSignupLayout";
}

@section Log {
    <!-- Contenu spécifique à la page d'inscription -->
    <div class="myCardIn">
                
            <h1>Bienvenue, Little Big Traveller !</h1>
            <h3>Connectez-vous !</h3>
            <div class="container" id="container">
                    <div class="input-Email">
                        <input required type="email" name="email" autocomplete="on" class="input">
                        <label class="user-Email">Email</label>
                    </div>
                    <div class="input-Password">
                        <input required type="password" name="password" autocomplete="off" class="input">
                        <label class="user-Password">Mot de passe</label>
                    </div>
                    <button type="submit" class="btnLogin">Connexion</button>
            </div>
            <div>
                

                <p>Vous n'êtes pas encore inscrit ? <br> Rejoignez l'aventure !</p>
                <button class="btnSignInUp">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <a href="@Url.Action("SignupPage", "SigninSignup")"><span class="button-text">Inscrivez-vous !</span></a>
                </button>
            </div>
            <div class="littleHole"></div>
            
        </div>

    <!-- Les autres éléments spécifiques à la page d'inscription -->
}